[Desktop Entry]
Type=Application
Name=Zirest
Comment=Simple REST Client
Exec=zirest
Icon=dev.onderb.zirest
Categories=Development;Utility;Network;
Terminal=false
