---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zirest</title>
	</head>
	<body>
		<main>
			<p style="text-align:center; margin-top: 24px;">
				<img
					src="/usr/share/icons/hicolor/scalable/apps/dev.onderb.zirest.svg"
					width="96"
					alt="Zirest icon"
				/>
			</p>
			<h1>Zirest</h1>
			<p>
				Zirest is a simple REST API desktop client built with GTK (GJS) and TypeScript.
			</p>
			<h2>Development</h2>
			<p>
				This project is built with <a href="https://vite.dev/">Vite</a> and <a href="https://www.gtk.org/">GTK</a>.
				You can find the development documentation in the <a href="/DEVELOPMENT.md">DEVELOPMENT.md</a> file.
			</p>
			<h2>License</h2>
			<p>MIT</p>
		</main>
	</body>
</html>
